@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0; 
}
body
{
    font-family: 'Arimo', sans-serif;
}
@media all and (max-width: 2000px) and (min-width: 1501px) {
    #main
    {
        background-image: url("./img/blitz.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 900px;
        
    }
    #logo
    {
        width: 6%;
    }
    #sfoglia
    {
        display: none;
    }
    #main2
    {
        display: flex;
        align-items: center;
        gap: 2%;
        height: 50px;
        margin-left: 3%;
    }
    #mainelenco
    {
        width: 100%;
    }
    #mainelenco ul
    {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    #mainelenco li
    {
        list-style: none;
    }
    #mainelenco a
    {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    #mainelenco2
    {
        display: flex;
        gap: 20%;
        margin-right: 6%;
        align-items: center;
    }
    #profilo
    {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #ric,#notifiche
    {
        width: 35%;
        cursor: pointer;
    }
    #main3
    {
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-top: 11%;
        margin-left: 3%;
    }
    #tit
    {
        width: 100%;
    }
    #maintopfilm
    {
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #icontop10
    {
        width: 6%;
    }
    #topfilm
    {
        font-size: 28px;
        color: white;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #maintext
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #text
    {
        color: white;
        font-size: 28px;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #buttons
    {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }
    #btnplay
    {
        width: 30%;
    }
    #play
    {
        width: 17%;
    }
    #riproduci
    {
        height: 45px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .btn
    {
        background-color: white;
        border: none;
        border-radius: 4px;
        font-size: 17px;
        font-weight: bold;
    }
    #altreinfo
    {
        width: 30%;
        color: white;
        height: 45px;
        cursor: pointer;
        display: flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        background-color: rgba(109, 109, 110, 0.7);
    }
    #info
    {
        width: 15%;
    }
    #dropdown2
    {
        width: 8%;
        color: white;
        background-color: black;
        padding-top: 1%;
        position: absolute;
        right: 2%;
        display: none;
        flex-direction: column;
    }
    #dropdown2 a
    {
        text-decoration: none;
        color: white;
    }
    #arrow
    {
        width: 12%;
        margin-left: -11%;
        cursor: pointer;
        transition: all 0.5s;
    }
    #arrow:hover
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #dropdown:hover #arrow
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    hr
    {
        margin-bottom: 3%;
    }
    .dropdown-section
    {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #catalogo
    {
        width: 100%;
        height: 550px;
        background-color: black;
    }
    #catalogo h3
    {
        color: white;
    }
    .cat
    {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }
    .slider
    {
        display: flex;
        gap: 1%;
        align-items: center;
    }
    .locandina
    {
        width: 16%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .imglocandina
    {
        width: 100%;
    }
    .locandina:hover
    {
        width: 25%;
        transition: all 0.5s;
    }
    .frecce
    {
        display: none;
        width: 60%;
        opacity: 0.5;
        cursor: pointer;
    }
    .divarrow
    {
        width: 4%;
        height: 150px;
        display: flex;
        align-items: center;
        display: none;
    }
    .divarrow:hover .frecce
    {
        display: block;
    }
}

@media all and (max-width: 1500px) and (min-width: 1001px) {
    #main
    {
        background-image: url("./img/blitz.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        
    }
    #sfoglia
    {
        display: none;
    }
    #logo
    {
        width: 6%;
    }
    #main2
    {
        display: flex;
        align-items: center;
        gap: 2%;
        height: 50px;
        margin-left: 3%;
    }
    #mainelenco
    {
        width: 100%;
    }
    #mainelenco ul
    {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    #mainelenco li
    {
        list-style: none;
    }
    #mainelenco a
    {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    #mainelenco2
    {
        display: flex;
        gap: 20%;
        margin-right: 6%;
        align-items: center;
    }
    #profilo
    {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #ric,#notifiche
    {
        width: 35%;
        cursor: pointer;
    }
    #main3
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 11%;
        margin-left: 3%;
    }
    #tit
    {
        width: 70%;
    }
    #maintopfilm
    {
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #icontop10
    {
        width: 5%;
    }
    #topfilm
    {
        font-size: 23px;
        color: white;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #maintext
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #text
    {
        color: white;
        font-size: 20px;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #buttons
    {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }
    #btnplay
    {
        width: 27%;
    }
    #play
    {
        width: 17%;
    }
    #riproduci
    {
        height: 40px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .btn
    {
        background-color: white;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
    }
    #altreinfo
    {
        width: 27%;
        color: white;
        height: 40px;
        cursor: pointer;
        display: flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        background-color: rgba(109, 109, 110, 0.7);
    }
    #info
    {
        width: 15%;
    }
    #dropdown2
    {
        color: white;
        background-color: black;
        padding-top: 1%;
        position: absolute;
        right: 2%;
        display: none;
        flex-direction: column;
    }
    #dropdown2 a
    {
        text-decoration: none;
        color: white;
    }
    #arrow
    {
        width: 12%;
        margin-left: -11%;
        cursor: pointer;
        transition: all 0.5s;
    }
    #arrow:hover
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #dropdown:hover #arrow
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    hr
    {
        margin-bottom: 3%;
    }
    .dropdown-section
    {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #catalogo
    {
        width: 100%;
        height: 550px;
        background-color: black;
    }
    #catalogo h3
    {
        color: white;
    }
    .cat
    {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
        
    }
    .slider
    {
        display: flex;
        gap: 1%;
        align-items: center;
    }
    .locandina
    {
        width: 20%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .imglocandina
    {
        width: 100%;
    }
    .locandina:hover
    {
        width: 35%;
        transition: all 0.5s;
    }
    #loc5
    {
        display: none;
    }
    .frecce
    {
        display: none;
        width: 60%;
        opacity: 0.5;
        cursor: pointer;
    }
    .divarrow
    {
        width: 4%;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .divarrow:hover .frecce
    {
        display: block;
    }
}

@media all and (max-width: 1000px) and (min-width: 871px) {
    #main
    {
        background-image: url("./img/blitz.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 550px;
        
    }
    #sfoglia
    {
        display: none;
    }
    #logo
    {
        width: 6%;
    }
    #main2
    {
        display: flex;
        align-items: center;
        gap: 2%;
        height: 50px;
        margin-left: 3%;
    }
    #mainelenco
    {
        width: 100%;
    }
    #mainelenco ul
    {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    #mainelenco li
    {
        list-style: none;
    }
    #mainelenco a
    {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    #mainelenco2
    {
        display: flex;
        gap: 20%;
        margin-right: 6%;
        align-items: center;
    }
    #profilo
    {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #ric,#notifiche
    {
        width: 35%;
        cursor: pointer;
    }
    #main3
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 11%;
        margin-left: 3%;
    }
    #tit
    {
        width: 70%;
    }
    #maintopfilm
    {
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #icontop10
    {
        width: 5%;
    }
    #topfilm
    {
        font-size: 20px;
        color: white;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #maintext
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #text
    {
        color: white;
        font-size: 18px;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #buttons
    {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }
    #btnplay
    {
        width: 27%;
    }
    #play
    {
        width: 17%;
    }
    #riproduci
    {
        height: 40px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .btn
    {
        background-color: white;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
    }
    #altreinfo
    {
        width: 27%;
        color: white;
        height: 40px;
        cursor: pointer;
        display: flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        background-color: rgba(109, 109, 110, 0.7);
    }
    #info
    {
        width: 15%;
    }
    #dropdown2
    {
        color: white;
        background-color: black;
        padding-top: 1%;
        position: absolute;
        right: 2%;
        display: none;
        flex-direction: column;
    }
    #dropdown2 a
    {
        text-decoration: none;
        color: white;
    }
    #arrow
    {
        width: 12%;
        margin-left: -11%;
        cursor: pointer;
        transition: all 0.5s;
        display: none;
    }
    #arrow:hover
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #dropdown:hover #arrow
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    hr
    {
        margin-bottom: 3%;
    }
    .dropdown-section
    {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #catalogo
    {
        width: 100%;
        height: 550px;
        background-color: black;
    }
    #catalogo h3
    {
        color: white;
    }
    .cat
    {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }
    .slider
    {
        display: flex;
        gap: 1%;
        align-items: center;
    }
    .locandina
    {
        width: 25%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .imglocandina
    {
        width: 100%;
    }
    .locandina:hover
    {
        width: 45%;
        transition: all 0.5s;
    }
    #loc5,#loc4
    {
        display: none;
    }
    .frecce
    {
        display: none;
        width: 70%;
        opacity: 0.5;
        cursor: pointer;
    }
    .divarrow
    {
        width: 4%;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .divarrow:hover .frecce
    {
        display: block;
    }
}

@media all and (max-width: 870px) and (min-width: 651px) 
{
    #main
    {
        background-image: url("./img/blitz.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        
    }
    #sfoglia
    {
        cursor: pointer;
        width: 100%;
    }
    #elencosfoglia
    {
        position: absolute;
        background-color: rgb(0, 0, 0,0.7);
        width: 30%;
        text-align: center;
        margin-left: -8%;
        display: none;
    }
    #elencosfoglia a
    {
        text-decoration: none;
        color: white;

    }
    #elencosfoglia li
    {
        list-style: none;
        margin-top: 4%;
    }
    #sfoglia1
    {
        display: flex;
        align-items: center;
        gap: 1%;
        font-size: 14px;
        color: white;
        width: 21%;
        justify-content: center;
    }
    #arrow2
    {
        width: 15%;
    }
    #lbsfoglia
    {
        cursor: pointer;
    }
    #logo
    {
        width: 10%;
    }
    #main2
    {
        display: flex;
        align-items: center;
        gap: 2%;
        height: 50px;
        margin-left: 3%;
    }
    #mainelenco
    {
        width: 100%;
        display: none;
    }
    #mainelenco ul
    {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    #mainelenco li
    {
        list-style: none;
    }
    #mainelenco a
    {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    #mainelenco2
    {
        display: flex;
        gap: 20%;
        margin-right: 6%;
        align-items: center;
    }
    #profilo
    {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #ric,#notifiche
    {
        width: 35%;
        cursor: pointer;
    }
    #main3
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 7%;
        margin-left: 3%;
    }
    #tit
    {
        width: 70%;
    }
    #maintopfilm
    {
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #icontop10
    {
        width: 5%;
    }
    #topfilm
    {
        font-size: 19px;
        color: white;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #maintext
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #text
    {
        color: white;
        font-size: 15px;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #buttons
    {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }
    #btnplay
    {
        width: 35%;
    }
    #play
    {
        width: 17%;
    }
    #riproduci
    {
        height: 40px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .btn
    {
        background-color: white;
        border: none;
        border-radius: 4px;
        font-size: 10px;
        font-weight: bold;
    }
    #altreinfo
    {
        width: 35%;
        color: white;
        height: 40px;
        cursor: pointer;
        display: flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        background-color: rgba(109, 109, 110, 0.7);
    }
    #info
    {
        width: 15%;
    }
    #dropdown2
    {
        color: white;
        background-color: black;
        padding-top: 1%;
        position: absolute;
        right: 2%;
        display: none;
        flex-direction: column;
    }
    #dropdown2 a
    {
        text-decoration: none;
        color: white;
    }
    #arrow
    {
        width: 12%;
        margin-left: -11%;
        cursor: pointer;
        transition: all 0.5s;
        display: none;
    }
    #arrow:hover
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #dropdown:hover #arrow
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    hr
    {
        margin-bottom: 3%;
    }
    .dropdown-section
    {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #catalogo
    {
        width: 100%;
        height: 550px;
        background-color: black;
    }
    #catalogo h3
    {
        color: white;
    }
    .cat
    {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }
    .slider
    {
        display: flex;
        gap: 1%;
        align-items: center;
    }
    .locandina
    {
        width: 33%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .imglocandina
    {
        width: 100%;
    }
    .locandina:hover
    {
        width: 45%;
        transition: all 0.5s;
    }
    #loc5,#loc4,#loc3
    {
        display: none;
    }
    .frecce
    {
        display: none;
        width: 70%;
        opacity: 0.5;
        cursor: pointer;
    }
    .divarrow
    {
        width: 4%;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .divarrow:hover .frecce
    {
        display: block;
    }
}

@media (max-width: 650px)
{
    #main
    {
        background-image: url("./img/blitz.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
        background-position: center;
        
    }
    #sfoglia
    {
        cursor: pointer;
        width: 100%;
    }
    #elencosfoglia
    {
        position: absolute;
        background-color: rgb(0, 0, 0,0.7);
        width: 30%;
        padding-top: 1%;
        text-align: center;
        margin-left: -8%;
        display: none;
    }
    #elencosfoglia a
    {
        text-decoration: none;
        color: white;

    }
    #elencosfoglia li
    {
        list-style: none;
        margin-top: 4%;
    }
    #sfoglia1
    {
        display: flex;
        align-items: center;
        gap: 1%;
        font-size: 14px;
        color: white;
        width: 21%;
        justify-content: center;
    }
    #arrow2
    {
        width: 15%;
    }
    #lbsfoglia
    {
        cursor: pointer;
    }
    #logo
    {
        width: 10%;
    }
    #main2
    {
        display: flex;
        align-items: center;
        gap: 2%;
        height: 50px;
        margin-left: 3%;
    }
    #elencosfoglia
    {
        position: absolute;
    }
    #mainelenco
    {
        width: 100%;
        display: none;
    }
    #mainelenco ul
    {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    #mainelenco li
    {
        list-style: none;
    }
    #mainelenco a
    {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    #mainelenco2
    {
        display: flex;
        gap: 20%;
        margin-right: 13%;
        align-items: center;
    }
    #profilo
    {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #ric,#notifiche
    {
        width: 35%;
        cursor: pointer;
    }
    #main3
    {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        margin-left: 3%;
    }
    #tit
    {
        width: 60%;
        margin-top: -17%;
    }
    #maintopfilm
    {
        width: 100%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #icontop10
    {
        width: 5%;
    }
    #topfilm
    {
        font-size: 15px;
        color: white;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #maintext
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #text
    {
        color: white;
        font-size: 13px;
        text-shadow: 4px 0px 4px rgb(150 150 150);
    }
    #buttons
    {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 100%;
        margin-top: 2%;
    }
    #btnplay
    {
        width: 35%;
    }
    #play
    {
        width: 17%;
    }
    #riproduci
    {
        height: 35px;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .btn
    {
        background-color: white;
        border: none;
        border-radius: 4px;
        font-size: 10px;
        font-weight: bold;
    }
    #altreinfo
    {
        width: 35%;
        color: white;
        height: 35px;
        cursor: pointer;
        display: flex;
        gap: 5%;
        justify-content: center;
        align-items: center;
        background-color: rgba(109, 109, 110, 0.7);
    }
    #info
    {
        width: 15%;
    }
    #dropdown2
    {
        color: white;
        background-color: black;
        padding-top: 1%;
        position: absolute;
        right: 2%;
        display: none;
        flex-direction: column;
    }
    #dropdown2 a
    {
        text-decoration: none;
        color: white;
    }
    #arrow
    {
        width: 12%;
        margin-left: -11%;
        cursor: pointer;
        transition: all 0.5s;
        display: none;
    }
    #arrow:hover
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    #dropdown:hover #arrow
    {
        transform: rotate(180deg);
        transition: all 0.5s;
    }
    hr
    {
        margin-bottom: 3%;
    }
    .dropdown-section
    {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3%;
    }
    #catalogo
    {
        width: 100%;
        min-height: 70vh;
        background-color: black;
    }
    #catalogo h3
    {
        color: white;
    }
    .cat
    {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }
    .slider
    {
        display: flex;
        gap: 1%;
        align-items: center;
    }
    .locandina
    {
        width: 50%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .imglocandina
    {
        width: 100%;
    }
    .locandina:hover
    {
        width: 75%;
        transition: all 0.5s;
    }
    #loc5,#loc4,#loc3,#loc2
    {
        display: none;
    }
    .frecce
    {
        display: none;
        width: 70%;
        opacity: 0.5;
        cursor: pointer;
    }
    .divarrow
    {
        width: 4%;
        height: 150px;
        display: flex;
        align-items: center;
    }
    .divarrow:hover .frecce
    {
        display: block;
    }
}